html{
    scroll-behavior: smooth;
}
body{
    background-color: #24252A;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
div.main{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 45%;
    margin-left: -45px;
    top: 15%;
    margin-top: -15px;
}
input.button {
    background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

    color: black;
    height: 50px;
    width:50px;
    font-size: 20px;
    margin: 2px;
    margin-left: 0;
}
::placeholder {
    color: black;
}
input.button :hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.screen { 
    margin-left: 5px;
    border-color: black;
    font-size: 20px;
    width: 220px;
    height: 50px;
    background-color: lightblue;
    color: blue  ;
    cursor: pointer;

}
